/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
    margin-top: -10px;
    background-image: url(/images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 475px;
    background-color: transparent;
    background-size: initial;
}

.callbox {
    position: relative;
    left: 50%;
    width: 50%;
}

.call {
    position: absolute;
    left: 20px;
    top: 140px;
    color: white;
    letter-spacing: 10px;
    white-space: nowrap;
}

.info h2 {
    text-align: center;
}

.info h3 {
    text-align: center;
    color: #777;
}

.info {
    margin-bottom: 50px;
}
